@{
    ViewData["Title"] = "Support - Call";
}
<section class="support-call">
    <div class="container">
        <div class="profile-picture">
            <img />
            <h4>Kristine Jones</h4>
            <span>25:45:34</span>
        </div>

        <div class="call-functions">
            <div>
                <i class="fa-solid fa-volume-xmark"></i>
                <span>Mute</span>
            </div>

            <div>
                <i class="fa-brands fa-rocketchat"></i>
                <span>Chat</span>
            </div>

            <div>
                <i class="fa-solid fa-volume-high"></i>
                <span>Speaker</span>
            </div>

            <div>
                <i class="fa-solid fa-microphone"></i>
                <span>Record</span>
            </div>

            <div>
                <i class="fa-solid fa-user-plus"></i>
                <span>Add</span>
            </div>

            <div>
                <i class="fa-solid fa-grip"></i>
                <span>More</span>
            </div>


        </div>

        <button class="end-call">
            <i class="fa-solid fa-phone"></i>
        </button>


    </div>
</section>