@{
    ViewData["Title"] = "Start";
}
<section class="splash-screen">
    <div class="container">
        <div class="company-text">
            <div class="image"></div>
        </div>

        <div class="login-options">
            <a href="/signin">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</section>